.header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  background-color: #b4e1e6;
  padding: 20px;
}

.header_lang {
  min-width: 10rem!important;
}

.header_logo {
  width: 50px;
}

.header_search {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 2px;
}

.header_search::-webkit-search-cancel-button {
  height: 15px;
  width: 15px;

  background-image: url('../../assets/images/clear.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}