.widget {
  background-color: rgb(219, 197, 157);

  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.widget-currency {
  padding-left: 10px;
  text-align: start;
}